@font-face
    font-family: "Roboto"
    src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype")
    font-weight: regular

@font-face
    font-family: "Roboto"
    src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype")
    font-weight: bold

@font-face
    font-family: "Roboto Condensed"
    src: url("./assets/fonts/RobotoCondensed-Regular.ttf") format("truetype")
    font-weight: regular

@font-face
    font-family: "Roboto Condensed"
    src: url("./assets/fonts/RobotoCondensed-Bold.ttf") format("truetype")
    font-weight: bold

@import './sass/style'


\::selection
    background-color: $prime
    color: $white

*
    box-sizing: border-box

body, html
    margin: 0
    padding: 0
    font-size: 10px
    background-color: $second

.gu-mirror
    position: fixed !important
    margin: 0 !important
    z-index: 9999 !important
    opacity: 0.8
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"
    filter: alpha(opacity = 80)
    pointer-events: none

.gu-hide
    left: (-9999px) !important

.gu-unselectable
    -webkit-user-select: none !important
    -moz-user-select: none !important
    -ms-user-select: none !important
    user-select: none !important

.gu-transit
    opacity: 0.2
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"
    filter: alpha(opacity = 20)
