* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #272727;
    /* overflow: hidden; */
}

.app-title {
    text-align: center;
    font-size: 2rem;
    color: whitesmoke;
    padding-top: 1%;
}

.memory-game {
    /* border: 2px solid greenyellow; */
    max-width: 640px;
    max-height: 800px;
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    margin: 4% auto;
    perspective: 1000px;
}

.memory-card {
    /* border: 2px solid red; */
    width: 21%;
    height: 30%;
    margin: auto;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

/* .memory-card.flip .front-face {
    transform: rotateY(180deg);
}

.memory-card.flip .back-face, .memory-card.flip .back-face-inner {
    transform: rotateY(180deg);
} */

.front-face {
    /* border: 2px solid blue; */
    border-radius: 5px;
    background: #a8a8a8;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.back-face {
    /* border: 2px solid blue; */
    border-radius: 5px;
    background: #ffffff;
    width: 100%;
    height: 100%;
    /* position: relative; */
    position: absolute;
    backface-visibility: hidden;
}

.back-face-inner {
    /* border: 2px solid blue; */
    border-radius: 5px;
    background: #a8a8a8;
    width: 92%;
    height: 92%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* transform: translate(4%, 4%); */
    backface-visibility: hidden;
    box-shadow: 0px 0px 2px 0px white, inset 0px 0px 35px 0px #5a5a5a;
    background: -webkit-radial-gradient(#2a76b9 79%, #133452 96%);
    background: -o-radial-gradient(#2a76b9 79%, #133452 96%);
    background: -moz-radial-gradient(#2a76b9 79%, #133452 96%);
    background: radial-gradient(#2a76b9 79%, #133452 96%);
}