@import '../../../sass/style'

.todo
    width: 100%
    background-color: $white
    margin: 0 0 $cube 0
    display: flex
    flex-flow: row
    justify-content: space-between
    align-items: stretch
    height: 100%

    .todo-content
        width: 100%
        display: flex
        flex-flow: row
        justify-content: flex-start
        align-items: center

        .handle
            background-color: $prime
            height: 100%
            display: flex
            flex-flow: row
            padding: 0 ($cube * 2) 0 ($cube * 2)
            justify-content: center
            align-items: center
            cursor: grab
            background-image: url("../../../assets/svg/drag.svg")
            background-position: center center
            background-repeat: no-repeat
            background-size: ($cube * 2) ($cube * 2)

        .todo-content-check
            display: flex
            margin: $cube * 2
            flex-flow: row
            justify-content: center
            align-items: center
            cursor: pointer

            img
                width: $cube * 4
                height: $cube * 4

        .todo-content-titel
            width: 100%

            input
                font-family: $font2
                font-size: $cube * 2
                padding: $cube * 2
                color: $second
                width: 100%
                border: none
                word-break: break-word

            input::placeholder
                opacity: 0.5
                font-style: italic

            input:focus
                outline: none

    .delete
        background-color: $red
        color: $white
        font-family: $font2
        font-size: $cube * 2
        padding: $cube * 2
        cursor: pointer

        span
            height: 100%
            width: 100%
            display: flex
            flex-flow: row
            justify-content: center
            align-items: center

.todo.done
    .todo-content
        .handle
            display: none

        .todo-content-titel
            input
                opacity: 0.3
                text-decoration: line-through
