<app-template-header></app-template-header>
<div class="list-view">
  <h4 (click)="toDoShow=!toDoShow"> Offen <span>( {{$todos.length}} )</span></h4>
  <div dragula="todos" [dragulaModel]="$todos" (dragulaModelChange)="$todos = $event" *ngIf="toDoShow"
    class="todo-elements">
    <app-template-todo (ping)="update($event)" [toDo$]="toDo" *ngFor="let toDo of $todos"></app-template-todo>
  </div>
  <app-template-todo-form (ping)="create($event)" *ngIf="toDoShow"></app-template-todo-form>
  <h4 (click)="toDoDoneShow=!toDoDoneShow">Erledigt <span>( {{$todosdone.length}} )</span></h4>
  <div *ngIf="toDoDoneShow" class="todo-elements">
    <app-template-todo (ping)="update($event)" [toDo$]="toDo" *ngFor="let toDo of $todosdone"></app-template-todo>
  </div>
</div>
<div class="footer">Based on Unleashed Design's Angular Tutorial</div>
