@import '../../sass/style'

.list-view
    width: 100%
    padding: $cube * 2

    h4
        font-family: $font1
        color: $white
        font-size: $cube * 3
        margin: 0 0 ($cube * 2) 0
        padding: 0
        font-weight: regular
        transition: all 250ms
        cursor: pointer

        span
            font-size: $cube * 1.5

    h4:hover
        color: $prime

    .todo-elements
        width: 100%
        margin: $cube 0
        display: flex
        flex-flow: column

.footer
    position: absolute
    width: 100%
    height: $cube * 4
    // bottom: 0
    padding: ($cube) 0
    // background-color: $prime
    color: $white
    font-family: $font1
    font-size: $cube * 2
    text-align: center
    border-top: 2px solid $prime
