body {
  font-family: 'Roboto Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #a0a0a0;
  /* background: #39f2ec; */
  font-size: 20px;
  line-height: 28px;
  color: #323b40;
  margin: 40px 0;
}

body::before {
  position: fixed;
  content: "";
  height: 400px;
  width: 400px;
  top: 20px;
  right: 30px;
  background-size: 100%;
  opacity: .2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  width: 60%;
  max-width: 960px;
  margin: 0 auto 60px;
  color: white;
  text-align: left;
  font-size: 5rem;
  line-height: 5rem;
  text-shadow: 0 1px 0 hsl(52, 7%, 20%), 0 2px 0 hsl(52, 7%, 18%), 0 3px 0 hsl(52, 7%, 16%), 0 4px 0 hsl(52, 7%, 14%), 0 5px 0 hsl(52, 7%, 12%), 0 6px 0 hsl(52, 7%, 10%), 0 7px 0 hsl(52, 7%, 8%), 0 8px 0 hsl(52, 7%, 6%), 0 0 5px rgba(0, 0, 0, .05), 0 1px 3px rgba(0, 0, 0, .2), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .3);
}

h1 small {
  font-size: 3rem;
  display: block;
  color: #fff5f6;
  text-shadow: none;
}

h2 {
  color: white;
}

h2 small {
  font-weight: normal;
  font-size: 1rem;
  display: block;
  color: #323b40;
}

h3 small {
  font-weight: normal;
  font-family: 'Roboto Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #888;
  display: block;
}

h4 {
  margin: 1rem 0
}

a:link, a:visited {
  color: #00B3B4;
  text-decoration: none;
  border-bottom: dotted 1px #00B3B4;
}

a:hover {
  background: rgb(0, 147, 180);
  color: white;
  text-decoration: none;
}

button {
  font-size: 1rem;
}

code {
  background: #fd6000;
  color: white;
  padding: 4px 6px;
  font-family: 'Nova Mono', monospace;
  font-size: 1rem;
  border-radius: 2px;
  box-shadow: inset 0 1px 2px #5e2400;
  display: inline-block;
}

.content {
  /* position: relative; */
}

section {
  position: relative;
  border-top: solid 1px #f9f9f9;
  border-bottom: solid 1px #ddd;
  padding: 25px 0;
}

section:first-child::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  border-top: solid 1px #ddd;
  top: -2px;
  left: 0;
}

section:last-child::after {
  position: absolute;
  content: "";
  width: 100%;
  border-top: solid 1px white;
  bottom: -2px;
  left: 0;
}

section footer {
  margin: inherit;
  width: inherit;
  color: inherit;
  font-size: inherit;
}

section header, section article, section nav, section aside, section footer, section .logo, section .articles {
  background: rgba(140, 204, 231, 0.2);
  border: solid 1px rgba(140, 204, 231, 0.3);
  padding: 2%;
  margin: 0 0 2%;
  font-size: 1rem;
  box-sizing: border-box;
}

section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section ul li {
  display: inline-block;
  margin: 0 2% 0 0;
}

.content.centered section {
  display: flex;
  align-items: center;
  justify-content: center
}

a.button-theme {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.button-theme {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  text-align: center;
  color: white;
  text-shadow: -1px -1px 0 #2C7982;
  background: #00B3B4;
  border: 1px solid #379AA4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
}

.button-theme::before {
  background: #fa90a3;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ef758b), to(#fa90a3));
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .3) inset, 0 1px 0 rgba(255, 255, 255, .5);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .3) inset, 0 1px 0 rgba(255, 255, 255, .5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3) inset, 0 1px 0 rgba(255, 255, 255, .5);
  position: absolute;
  content: "";
  left: -15px;
  right: -15px;
  top: -14px;
  bottom: -17px;
  z-index: -1;
}

.button-theme:active {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 2px 0 #338A94, 0 2px 2px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 2px 0 #338A94, 0 2px 2px rgba(0, 0, 0, .5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 2px 0 #338A94, 0 2px 2px rgba(0, 0, 0, .5);
  top: 4px;
}

.button-theme:active::before {
  top: -18px;
  bottom: -13px;
}

.button-theme:hover {
  background: #10a2aa;
}

.button-theme small {
  display: block;
  color: #007a7b;
  text-shadow: none;
}

.result {
  position: relative;
  background: #e7eef1;
  width: 60%;
  max-width: 960px;
  margin: 60px auto;
  padding: 40px 40px 60px;
  box-sizing: border-box;
  border-radius: 2px;
  /* box-shadow: 0 12px 0 -6px #10a2aa; */
  box-shadow: 0 12px 0 -6px #484b4b;
}

.result::before {
  position: absolute;
  display: block;
  content: "";
  border: solid 6px transparent;
  /* border-right: solid 6px #10a2aa; */
  border-right: solid 6px #484b4b;
  border-top-width: 0px;
  background: none;
  bottom: -6px;
  left: -6px;
}

.result::after {
  position: absolute;
  display: block;
  content: "";
  border: solid 6px transparent;
  /* border-top: solid 6px #10a2aa; */
  border-top: solid 6px #484b4b;
  border-bottom-width: 0px;
  background: none;
  right: 0;
  bottom: -6px;
}

.result h2 {
  font-size: 1.4rem;
  display: inline-block;
  transform: rotate(-90deg);
  transition: all ease-in-out .1s;
  position: absolute;
  top: 60px;
  left: -85px;
  background: #e12345;
  margin: 0;
  line-height: 1.6rem;
  padding: 15px;
  z-index: -2;
  border-radius: 4px;
  min-width: 130px;
}

.result:hover h2 {
  left: -110px;
}

.result .button-theme {
  display: block;
  width: 80%;
  margin: 0 auto;
}

footer {
  width: 60%;
  max-width: 960px;
  margin: 0 auto;
  font-size: 1rem;
  color: #f3f3f3;
}

footer a:link, footer a:visited {
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  padding: 0 5px;
  border: none;
  text-decoration: none;
  color: white;
}

footer a:hover {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: -3px 3px 0 #eb2447;
  transform: rotate(-1deg);
}

footer .author {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 1000ms;
  background: #10a2aa;
}

footer:hover .author {
  /* padding-left: 140px; */
}