body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    background: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
}

h1 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 150%;
    font-weight: 100;
    background: none;
    margin: 1rem 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

canvas {
    width: 100%;
    height: 100%;
    background: black;
}

footer { 
    position: relative;
    height: 50px;
}

footer h6 {
    position: absolute;
    color: #ffffff92;
    background: none;
    margin: 0 0;
    /* padding: 1.25rem 0; */
    top: -50%;
    left: 50%;
    transform: translate(-50%, 0);
}