button {
  position: relative;
  cursor: pointer;
  font-weight: bold;
  margin: 0 15px 0 0;
}

.facebook-style-btn {
  border-radius: 2px;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 6px 12px;
}

.facebook-style-dark {
  -moz-box-shadow: inset 0px 1px 0px 0px #4d73bf;
  -webkit-box-shadow: inset 0px 1px 0px 0px #4d73bf;
  box-shadow: inset 0px 1px 0px 0px #4d73bf;
  background: #4267b2;
  border: 1px solid #4267b2;
  color: #fff;
  text-shadow: 0 1px 0px #3359a5;
}

.facebook-style-dark:hover {
  background: #2b54a7;
}

.facebook-style-dark:active {
  background: #1d4698;
  border-color: #1d4698;
}

.facebook-style-light {
  background: #f6f7f9;
  border: 1px solid #ced0d4;
  border-radius: 2px;
  color: #4b4f56;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 6px 12px;
}

.facebook-style-light:hover {
  background: #e9ebee;
}

.facebook-style-light:active {
  background: #d8dade;
  border-color: #d8dade;
}

.btn-3d-1 {
  position: relative;
  background: orangered;
  border: none;
  color: white;
  padding: 15px 24px;
  font-size: 1.4rem;
  box-shadow: -6px 6px 0 hsl(16, 100%, 30%);
  outline: none;
}

.btn-3d-1:hover {
  background: hsl(16, 100%, 45%);
}

.btn-3d-1:active {
  background: hsl(16, 100%, 40%);
  top: 3px;
  left: -3px;
  box-shadow: -3px 3px 0 hsl(16, 100%, 30%);
}

.btn-3d-1::before {
  position: absolute;
  display: block;
  content: "";
  height: 0;
  width: 0;
  border: solid 6px transparent;
  border-right: solid 6px hsl(16, 100%, 30%);
  border-left-width: 0px;
  background: none;
  top: 0px;
  left: -6px;
}

.btn-3d-1::after {
  position: absolute;
  display: block;
  content: "";
  height: 0;
  width: 0;
  border: solid 6px transparent;
  border-top: solid 6px hsl(16, 100%, 30%);
  border-bottom-width: 0px;
  background: none;
  right: 0;
  bottom: -6px;
}

.btn-3d-1:active::before {
  border: solid 3px transparent;
  border-right: solid 3px hsl(16, 100%, 30%);
  border-left-width: 0px;
  left: -3px;
}

.btn-3d-1:active::after {
  border: solid 3px transparent;
  border-top: solid 3px hsl(16, 100%, 30%);
  border-bottom-width: 0px;
  bottom: -3px;
}

.btn-3d-2 {
  position: relative;
  background: #ecd300;
  background: -webkit-radial-gradient(hsl(54, 100%, 50%), hsl(54, 100%, 40%));
  background: -o-radial-gradient(hsl(54, 100%, 50%), hsl(54, 100%, 40%));
  background: -moz-radial-gradient(hsl(54, 100%, 50%), hsl(54, 100%, 40%));
  background: radial-gradient(hsl(54, 100%, 50%), hsl(54, 100%, 40%));
  
  font-size: 1.4rem;
  text-shadow: 0 -1px 0 #c3af07;
  color: white;
  border: solid 1px hsl(54, 100%, 20%);
  border-radius: 100%;
  height: 120px;
  width: 120px;
  z-index: 4;
  outline: none;
  box-shadow: inset 0 1px 0 hsl(54, 100%, 50%), 0 2px 0 hsl(54, 100%, 20%), 0 3px 0 hsl(54, 100%, 18%), 0 4px 0 hsl(54, 100%, 16%), 0 5px 0 hsl(54, 100%, 14%), 0 6px 0 hsl(54, 100%, 12%), 0 7px 0 hsl(54, 100%, 10%), 0 8px 0 hsl(54, 100%, 8%), 0 9px 0 hsl(54, 100%, 6%);
}

.btn-3d-2:hover {
  background: #ecd300;
  background: -webkit-radial-gradient(hsl(54, 100%, 45%), hsl(54, 100%, 35%));
  background: -o-radial-gradient(hsl(54, 100%, 45%), hsl(54, 100%, 35%));
  background: -moz-radial-gradient(hsl(54, 100%, 45%), hsl(54, 100%, 35%));
  background: radial-gradient(hsl(54, 100%, 45%), hsl(54, 100%, 35%));
}

.btn-3d-2:active {
  background: #ecd300;
  background: -webkit-radial-gradient(hsl(54, 100%, 43%), hsl(54, 100%, 33%));
  background: -o-radial-gradient(hsl(54, 100%, 43%), hsl(54, 100%, 33%));
  background: -moz-radial-gradient(hsl(54, 100%, 43%), hsl(54, 100%, 33%));
  background: radial-gradient(hsl(54, 100%, 43%), hsl(54, 100%, 33%));
  
  top: 2px;
  box-shadow: inset 0 1px 0 hsl(54, 100%, 50%), 0 2px 0 hsl(54, 100%, 20%), 0 3px 0 hsl(54, 100%, 18%), 0 4px 0 hsl(54, 100%, 16%), 0 5px 0 hsl(54, 100%, 14%), 0 6px 0 hsl(54, 100%, 12%), 0 7px 0 hsl(54, 100%, 10%);
}

.gradient-button-1 {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 20px 40px;
  font-size: 1.4rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #e7eef1;
  border: 10px solid transparent;
  border-image: linear-gradient(to top right, orangered, yellow);
  border-image-slice: 1;
  color: orangered;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.gradient-button-1:hover {
  background-size: 100%;
  background-image: linear-gradient(to top right, orangered, yellow);
  color: white;
}

.gradient-button-2 {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 20px 40px;
  font-size: 1.4rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #e7eef1;
  border: 4px solid transparent;
  border-image: linear-gradient(to right, orangered, transparent);
  border-image-slice: 1;
  color: orangered;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.gradient-button-2:hover {
  background-size: 100%;
  background-image: linear-gradient(to right, orangered, transparent);
  border-right-style: none;
  color: white;
}

.animated-button-1 {
  position: relative;
  display: inline-block;
  padding: 20px 40px;
  font-size: 1.4rem;
  background-color: #00b3b4;
  background-image: url(pattern.png);
  background-size: 40px 40px;
  border: 1px solid #555;
  color: white;
  transition: all 0.3s ease;
}

.animated-button-1:hover {
  -webkit-animation: loading-button-animation 2s linear infinite;
  animation: loading-button-animation 2s linear infinite;
}

.animated-button-2 {
  position: relative;
  display: inline-block;
  padding: 20px 40px;
  font-size: 1.4rem;
  background-color: #10a2aa;
  background-size: 20px 20px;
  border: 1px solid #555;
  color: white;
  transition: all 0.3s ease;
}

.animated-button-2:after {
  position: absolute;
  top: 50%;
  right: 0.6em;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  content: "»";
  opacity: 0;
  transition: all 0.3s ease;
}

.animated-button-2:hover {
  padding: 20px 60px 20px 20px;
}

.animated-button-2:hover:after {
  right: 1.2em;
  opacity: 1;
}

@-webkit-keyframes loading-button-animation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}

@keyframes loading-button-animation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}

.toggle-1 {
  font-family: Helvetica, Arial, sans-serif;
  display: inline-block;
  vertical-align: top;
  margin: 0 15px 0 0;
}

.toggle-1__input {
  display: none;
}

.toggle-1__button {
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2395a;
  border: 1px solid #f2395a;
  color: #ffffff;
  width: 80px;
  height: 30px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.toggle-1__button:before {
  position: absolute;
  top: 6px;
  left: 40px;
  right: auto;
  display: inline-block;
  height: 20px;
  padding: 0 3px;
  background-color: #ffffff;
  color: #f2395a;
  content: "off";
  transition: all 0.3s ease;
}

.toggle-1__input:checked+.toggle-1__button {
  background-color: #00b3b4;
  border: 1px solid #00b3b4;
}

.toggle-1__input:checked+.toggle-1__button:before {
  left: 5px;
  content: "on";
  color: #00b3b4;
}

.toggle-2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  margin: 0 15px 0 0;
}

.toggle-2__input {
  display: none;
}

.toggle-2__button {
  position: relative;
  display: inline-block;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #aaaaaa;
  border: 1px solid #cccccc;
  padding: 5px 10px 5px 30px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.toggle-2__button:before {
  position: absolute;
  top: 10px;
  left: 10px;
  right: auto;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #cccccc;
  content: "";
  transition: all 0.3s ease;
}

.toggle-2__input:checked+.toggle-2__button {
  background-color: #00b3b4;
  border-color: #00b3b4;
  color: #ffffff;
}

.toggle-2__input:checked+.toggle-2__button:before {
  background-color: #ffffff;
}

.shadow-typo {
  position: relative;
  display: inline-block;
  font-size: 4em;
  text-transform: uppercase;
  color: #00b3b4;
  text-shadow: 3px 3px 0px #e7eef1, 8px 8px 0px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  line-height: 4rem;
}

.threedee-typo {
  font-size: 4em;
  text-transform: uppercase;
  color: #f2395a;
  -webkit-transform: skew(-5deg, -5deg) rotate(5deg);
  transform: skew(-5deg, -5deg) rotate(5deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
  text-shadow: 1px 1px #d10e31, 2px 2px #d10e31, 3px 3px #d10e31, 4px 4px #d10e31, 5px 5px #d10e31, 6px 6px #d10e31, 7px 7px #d10e31, 8px 8px #890920, 9px 9px #890920, 10px 10px #890920, 11px 11px 15px rgba(0, 0, 0, 0.5);
  margin: 1rem;
  line-height: 4rem;
}

.clip-image-1 {
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}

.clip-image-2 {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}

.clip-image-3 {
  -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.clip-image-4 {
  -webkit-clip-path: polygon(0% 20%, 40% 20%, 40% 0%, 100% 50%, 40% 100%, 40% 80%, 0% 80%);
  clip-path: polygon(0% 20%, 40% 20%, 40% 0%, 100% 50%, 40% 100%, 40% 80%, 0% 80%);
}

.register-wrapper {
  background-image: -webkit-linear-gradient(135deg, #0eeff0 30%, #088f90 90%);
  background-image: linear-gradient(135deg, #0eeff0 30%, #088f90 90%);
  position: relative;
  z-index: 3;
  padding: 100px;
  font-size: 16px;
  color: #999999;
}

.register-wrapper * {
  box-sizing: border-box;
}

.register-wrapper form input {
  display: inline-block;
  width: 100%;
  padding: 0 20px;
  line-height: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid #e6e6e6;
  border-bottom-width: 3px;
  border-radius: 5px;
  outline: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.register-wrapper form input:not(:last-child) {
  margin-bottom: 20px;
}

.register-wrapper form input[type="email"]:focus, .register-wrapper form input[type="email"]:active, .register-wrapper form input[type="password"]:focus, .register-wrapper form input[type="password"]:active {
  border-color: #cccccc;
}

.register-wrapper form input[type="submit"] {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0 20px;
  font-size: 1rem;
  background-color: #f2395a;
  background-size: 100%;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  background-size: 20px 20px, 100% 100%;
  border: 1px solid #f02146;
  border-bottom-width: 3px;
  color: white;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.register-wrapper form input[type="submit"]:hover {
  background-size: 40px 40px;
}

.register-title {
  font-size: 1.5em;
  padding-bottom: 20px;
  margin: 0 0 20px;
  border-bottom: 1px dashed #e6e6e6;
}

.register-block {
  position: relative;
  display: block;
  width: 100%;
  max-width: 300px;
  margin: auto;
  padding: 30px;
  background-color: white;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.register-block:before, .register-block:after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  -webkit-transform: scale(0.9) translate(0, 0);
  transform: scale(0.9) translate(0, 0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.register-block:hover:before {
  z-index: -1;
  -webkit-transform: scale(0.96) translate(0, 16px);
  transform: scale(0.96) translate(0, 16px);
}

.register-block:hover:after {
  z-index: -2;
  -webkit-transform: scale(0.92) translate(0, 32px);
  transform: scale(0.92) translate(0, 32px);
}

img.image {
  position: relative;
  display: inline-block;
  font-family: Arial, sans serif;
  font-size: 0.7em;
  text-align: center;
  text-transform: uppercase;
  transform: translate(-100%, -50%)
}

img.image:after {
  display: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 200px;
  padding: 10px 20px 10px 45px;
  border: 1px dashed #888888;
  background-color: #00B3B4;
  background-image: url(noimage.png);
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: 15px 10px;
  z-index: 1;
  content: "" attr(alt) " Not Found";
  color: white;
}

.result img {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.result img:hover {
  cursor: pointer;
}

.grayscale {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.grayscale:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.blur {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.blur:hover {
  -webkit-filter: blur(0px);
  filter: blur(0px);
}

.invert {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.invert:hover {
  -webkit-filter: invert(0);
  filter: invert(0);
}

.sepia {
  -webkit-filter: sepia(1);
  filter: sepia(1);
}

.sepia:hover {
  -webkit-filter: sepia(0);
  filter: sepia(0);
}

.layout1 article {
  width: 58%;
  float: left;
}

.layout1 aside {
  width: 40%;
  float: right;
}

.layout1 footer {
  clear: both;
}

.layout2 header .logo {
  width: 20%;
  float: left;
  margin: 0;
}

.layout2 header nav {
  width: 78%;
  float: right;
  margin: 0;
}

.layout2 header::after {
  display: table;
  content: "";
  clear: both;
}

.layout2 article {
  width: 50%;
  margin-left: 2%;
  float: left;
}

.layout2 aside.sidenav {
  width: 23%;
  float: left;
}

.layout2 aside.sidebar {
  width: 23%;
  float: right;
}

.layout2 footer {
  clear: both;
}

.layout3 header .logo {
  width: 20%;
  float: right;
  margin: 0;
}

.layout3 header nav {
  width: 78%;
  float: left;
  margin: 0;
}

.layout3 header::after {
  display: table;
  content: "";
  clear: both;
}

.layout3 article {
  width: 32%;
  float: left;
  margin: 0 2% 0 0;
}

.layout3 article:last-child {
  margin: 0;
}

.layout3 .articles::after {
  display: table;
  content: "";
  clear: both;
}

.layout2 footer {
  clear: both;
}

@media screen and ( max-width: 768px) {
  .layout1 article, .layout1 aside, .layout2 header .logo, .layout2 header nav, .layout2 article, .layout2 aside.sidenav, .layout2 aside.sidebar, .layout3 article, .layout3 aside, .layout3 header .logo, .layout3 header nav {
    float: none;
    width: 100%;
    margin: 0 0 2%;
  }
}

.pricing-table {
  margin: 60px auto;
}

.pricing-table:after {
  display: table;
  content: "";
  clear: both;
}

.pricing-table>div {
  display: block;
  float: left;
  width: 48%;
  min-height: 1px;
  background-color: #ffffff;
  color: #555555;
}

.pricing-table>div:not(:last-child) {
  margin-right: 2%;
}

.pricing-block {
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
}

.pricing-header {
  height: auto;
  padding: 30px 20px 40px;
  text-transform: uppercase;
}

.pricing-header .pricing-heading {
  font-size: 1.4rem;
  font-weight: 700;
}

.pricing-price {
  color: #777777;
}

.pricing-price>span {
  display: inline-block;
}

.pricing-price__currency {
  margin-top: 10px;
  vertical-align: top;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  opacity: 0.6;
}

.pricing-price__value {
  font-size: 5rem;
  font-weight: 300;
  line-height: 1;
}

.pricing-price__duration {
  margin-top: 10px;
  vertical-align: top;
  font-size: 1.4rem;
  line-height: 1;
  opacity: 0.6;
}

.pricing-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pricing-body ul li {
  display: block;
  padding: 10px 20px;
  margin: 0;
}

.pricing-body ul li:nth-child(2n) {
  background-color: #ffffff;
}

.pricing-body ul li:nth-child(2n+1) {
  background-color: #f8f8f8;
}

.pricing-footer {
  padding: 40px 0 0;
}

.pricing-button, .pricing-button:link, .pricing-button:visited {
  display: block;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #333333;
  color: #ffffff;
  border-bottom: dotted 0 #00B3B4;
}

.pricing-popular {
  margin-top: -20px;
}

.pricing-popular .pricing-header {
  padding-top: 50px;
}

.pricing-popular .pricing-footer {
  padding-top: 60px;
}

.pricing-popular .pricing-price {
  color: #ff8888;
}

.pricing-popular .pricing-button {
  background-color: #ff8888;
  color: #ffffff;
}

.pricing-popular .pricing-button:hover {
  color: #ff8888;
  background-color: #333333;
}

@media screen and (max-width:1023px) {
  .pricing-table {
    margin: auto;
  }
  .pricing-table>div {
    float: none;
    width: 100%;
  }
  .pricing-table>div:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .pricing-body {
    max-width: 100%;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
  }
  .pricing-body ul li {
    display: inline-block;
    vertical-align: middle;
  }
  .pricing-body ul li:not(:first-child) {
    margin-left: -5px;
  }
  .pricing-body ul li:nth-child(2n) {
    background-color: #e8e8e8;
  }
  .pricing-footer {
    padding-top: 0;
  }
  .pricing-popular {
    margin-top: 0;
  }
  .pricing-popular .pricing-header, .pricing-popular .pricing-footer {
    padding-top: 30px;
  }
}

.button {
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #333333;
  pointer-events: none;
  opacity: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transition: transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

input[type="checkbox"]:checked~.overlay {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
  transform: translate(-50%, -50%) scale(0.5);
  width: 100%;
  max-width: 640px;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transition-delay: 0.1s;
}

input[type="checkbox"]:checked~.modal {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

.modal__content {
  display: block;
  padding: 30px;
  background-color: #ffffff;
}

.animation-bar-1 {
  position: relative;
  display: block;
  padding: 5px;
  font-size: 16px;
  line-height: 16px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.animation-bar-1 span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
  background-color: #f56982;
  background-size: 100%;
  background-image: linear-gradient(to bottom, #f2395a, #b90c2b);
  animation: progress-anim-1 10s infinite linear;
}

.animation-bar-1 span:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-size: 100%;
  background-image: linear-gradient(45deg, #ffffff 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, #ffffff 50%, #ffffff 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  background-size: 30px 30px;
  opacity: 0.3;
  animation: progress-anim-1-after 0.5s infinite linear;
}

@-webkit-keyframes progress-anim-1 {
  0% {
    width: 20%;
  }
  50% {
    width: 80%;
  }
  100% {
    width: 20%;
  }
}

@keyframes progress-anim-1 {
  0% {
    width: 20%;
  }
  50% {
    width: 80%;
  }
  100% {
    width: 20%;
  }
}

@-webkit-keyframes progress-anim-1-after {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: 30px 100%;
  }
}

@keyframes progress-anim-1-after {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: 30px 100%;
  }
}

.animation-bar-2 {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 16px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.animation-bar-2 span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  background-color: #00e6e7;
  background-size: 100%;
  background-image: linear-gradient(to bottom, #00b3b4, #008081);
  animation: progress-anim-2 10s infinite ease;
}

.animation-bar-2 span:before {
  position: absolute;
  right: 0;
  bottom: 100%;
  display: inline-block;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-width: 0;
  border-bottom-width: 0;
  border-top-color: rgba(0, 0, 0, 1);
  content: "";
}

.animation-bar-2 span:after {
  position: absolute;
  right: 0;
  bottom: calc(100% + 5px);
  z-index: 1;
  display: inline-block;
  content: attr(data-label);
  padding: 5px;
  border-radius: 3px;
  font-size: 0.8em;
  background-color: rgba(0, 0, 0, 1);
  color: #FFFFFF;
}

@-webkit-keyframes progress-anim-2 {
  0% {
    width: 20%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 20%;
  }
}

@keyframes progress-anim-2 {
  0% {
    width: 20%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 20%;
  }
}

.triangle {
  position: relative;
  height: 320px;
  clip-path: polygon(50% 0%, 20% 100%, 80% 100%);
}

.triangle div {
  position: absolute;
  top: 0;
  line-height: 100px;
  font-size: 0.8em;
  text-align: center;
  background: #f2395a;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  transition: all ease 0.6s;
  color: #f2395a;
}

.triangle .top {
  z-index: 1;
}

.triangle:hover div {
  color: white;
}

.triangle:hover .mid {
  top: 110px;
  background: #39f299;
}

.triangle:hover .bottom {
  top: 220px;
  background: #399cf2;
}

.spinner-1 {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 64px;
  height: 64px;
  border-radius: 64px;
}

.spinner-1:before {
  position: absolute;
  width: 64px;
  height: 64px;
  border-radius: 64px;
  content: " ";
  clip: rect(0, 64px, 32px, 0);
  box-shadow: inset -5px 0 0 5px currentColor;
  color: #323b40;
  -webkit-animation: rotator 1s infinite linear;
  animation: rotator 1s infinite linear;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    box-shadow: inset -5px 0 0 5px currentColor;
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: inset -1px 0 0 1px currentColor;
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    box-shadow: inset -5px 0 0 5px currentColor;
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    box-shadow: inset -5px 0 0 5px currentColor;
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: inset -1px 0 0 1px currentColor;
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    box-shadow: inset -5px 0 0 5px currentColor;
  }
}

.spinner-2 {
  position: relative;
  margin: 32px;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: #323b40;
}

.spinner-2:before, .spinner-2:after {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: inherit;
  content: " ";
}

.spinner-2:before {
  -webkit-transform: translateX(-120%);
  transform: translateX(-120%);
  -webkit-transform-origin: 32px 50%;
  transform-origin: 32px 50%;
  -webkit-animation: orbit-1 1s infinite linear;
  animation: orbit-1 1s infinite linear;
}

.spinner-2:after {
  -webkit-transform: translateX(120%);
  transform: translateX(120%);
  -webkit-transform-origin: -16px 50%;
  transform-origin: -16px 50%;
  -webkit-animation: orbit-2 1s infinite linear;
  animation: orbit-2 1s infinite linear;
}

@-webkit-keyframes orbit-1 {
  0% {
    -webkit-transform: translateX(-120%) rotate(180deg);
    transform: translateX(-120%) rotate(180deg);
  }
  30% {
    -webkit-transform: translateX(-120%) rotate(0deg);
    transform: translateX(-120%) rotate(0deg);
  }
  70% {
    -webkit-transform: translateX(-120%) rotate(0deg);
    transform: translateX(-120%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(-120%) rotate(-180deg);
    transform: translateX(-120%) rotate(-180deg);
  }
}

@keyframes orbit-1 {
  0% {
    -webkit-transform: translateX(-120%) rotate(180deg);
    transform: translateX(-120%) rotate(180deg);
  }
  30% {
    -webkit-transform: translateX(-120%) rotate(0deg);
    transform: translateX(-120%) rotate(0deg);
  }
  70% {
    -webkit-transform: translateX(-120%) rotate(0deg);
    transform: translateX(-120%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(-120%) rotate(-180deg);
    transform: translateX(-120%) rotate(-180deg);
  }
}

@-webkit-keyframes orbit-2 {
  0% {
    -webkit-transform: translateX(120%) rotate(180deg);
    transform: translateX(120%) rotate(180deg);
  }
  30% {
    -webkit-transform: translateX(120%) rotate(0deg);
    transform: translateX(120%) rotate(0deg);
  }
  70% {
    -webkit-transform: translateX(120%) rotate(0deg);
    transform: translateX(120%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(120%) rotate(-180deg);
    transform: translateX(120%) rotate(-180deg);
  }
}

@keyframes orbit-2 {
  0% {
    -webkit-transform: translateX(120%) rotate(180deg);
    transform: translateX(120%) rotate(180deg);
  }
  30% {
    -webkit-transform: translateX(120%) rotate(0deg);
    transform: translateX(120%) rotate(0deg);
  }
  70% {
    -webkit-transform: translateX(120%) rotate(0deg);
    transform: translateX(120%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(120%) rotate(-180deg);
    transform: translateX(120%) rotate(-180deg);
  }
}

.layout1 main {
  display: flex;
  flex-direction: row;
}

.layout1 article {
  flex: 1 58%;
  margin-right: 2%;
}

.layout1 aside {
  flex: 1 40%;
}

.layout1 footer {}

.layout2 header {
  display: flex;
  flex-direction: row;
}

.layout2 header nav {
  flex: 1;
  margin-left: 2%;
}

.layout2 main {
  display: flex;
  flex-direction: row;
}

.layout2 article {
  flex: 1 56%;
  margin-right: 2%;
  margin-left: 2%;
}

.layout2 aside.sidenav, .layout2 aside.sidebar {
  flex: 1 20%;
}

.layout2 footer {}

.layout3 header {
  display: flex;
  flex-direction: row-reverse;
}

.layout3 header nav {
  flex: 1;
  margin-right: 2%;
}

.layout3 .articles {
  display: flex;
  flex-direction: row;
}

.layout3 article {
  flex: 1;
  margin: 0 2%;
}

.layout3 article:first-child, .layout3 article:last-child {
  margin: 0;
}

.layout3 footer {}

@media screen and ( max-width: 768px) {
  .layout1 main, .layout1 article, .layout1 aside, .layout2 header, .layout2 header .logo, .layout2 header nav, .layout2 main, .layout2 article, .layout2 aside.sidenav, .layout2 aside.sidebar, .layout3 main, .layout3 .articles, .layout3 article, .layout3 aside, .layout3 header, .layout3 header .logo, .layout3 header nav {
    display: block;
    float: none;
    width: 100%;
    margin: 0 0 2%;
  }
}

.accordion {
  position: relative;
  display: block;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
}

.accordion .accordion__item {
  display: block;
}

.accordion .accordion__content {
  display: block;
  padding: 0;
  overflow: hidden;
  height: 0;
  -webkit-transition: height 0.5s ease, padding 0.3s linear;
  transition: height 0.5s ease, padding 0.3s linear;
}

.accordion .accordion__content p {
  padding: 20px;
  margin: 0;
}

.accordion .accordion__content:target {
  height: 150px;
}

.accordion .accordion__trigger {
  text-decoration: none;
}

.accordion .accordion__title {
  position: relative;
  display: block;
  margin: 0;
  padding: 10px;
  font-size: 1em;
  background-color: #00B3B4;
  color: #FFFFFF;
  border: 1px solid #379AA4;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
  cursor: pointer;
}

.accordion .accordion__title:hover {
  background-color: #0bbfc0;
}

.accordion .accordion__title:after {
  position: absolute;
  top: calc(50% - 5px);
  right: 20px;
  width: 7px;
  height: 7px;
  border-left: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  content: "";
}

.slide {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.slide img {
  display: inline-block;
  vertical-align: middle;
}

.slide-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: rgba(225, 35, 69, 0.9);
  color: #ffffff;
  transition: transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;
}

.slide:hover .slide-content {
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}

.slide-top .slide-content {
  transform: translate(0, -100%);
  -webkit-transform: translate(0, -100%);
}

.slide-left .slide-content {
  transform: translate(-100%, 0);
  -webkit-transform: translate(-100%, 0);
}

.slide-right .slide-content {
  transform: translate(100%, 0);
  -webkit-transform: translate(100%, 0);
}

.slide-bottom .slide-content {
  transform: translate(0, 100%);
  -webkit-transform: translate(0, 100%);
}

.dropdown {
  position: relative;
  z-index: 10;
  display: inline-block;
}

.dropdown__hover {
  display: inline-block;
  padding: 10px;
  background-color: #323b40;
  color: #ffffff;
  border: 0 solid #323b40;
  cursor: pointer;
}

.dropdown__hover:hover {
  background-color: #222222;
}

.dropdown__menu {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  min-width: 200px;
  background-color: #ffffff;
  color: #323b40;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.dropdown:hover .dropdown__menu {
  display: block;
}

.dropdown__menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  border-width: 0;
  border-top: 1px solid #e0e0e0;
}

.dropdown__menu a:hover {
  background-color: #f0f0f0;
  color: #323b40;
}