html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #292929;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-family: "Montserrat", "Avenir";
}

.square {
    width: 30%;
    background-color: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.33%;
    border: 1px white solid;
    border-radius: 10%;
    transition: background-color 0.4s;
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.5s;
}

#container {
    margin: 1rem auto;
    max-width: 600px;
    height: 60%;
}

#header {
    padding: 1.25rem 0;
}

h1 {
    color: white;
    margin: 0;
    text-align: center;
    font-weight: normal;
    line-height: 1.1;
}

#colorDisplay {
    font-size: 180%;
}

#message {
    display: inline-block;
    width: 20%;
}

#stripe {
    background-color: white;
    /* height: 2rem; */
    text-align: center;
    color: black;
    margin: 0rem 0;
}

.selected {
    background-color: #292929;
    color: white;
    border-top: 1px white solid;
    border-bottom: 1px white solid;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
}

button {
    background-color: white;
    color: black;
    background: none;
    box-sizing: border-box;
    border: none;
    border-top: 1px white solid;
    border-bottom: 1px white solid;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    letter-spacing: 1px;
    outline: none;
    font-size: inherit;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}

button:hover {
    color: white;
    background-color: #292929;
    border: none;
    box-sizing: border-box;
    border-top: 1px #292929 solid;
    border-bottom: 1px #292929 solid;
}

#reset {
    width: 18%;
}

footer p {
    margin: 0 auto;
    width: 50%;
    color: white;
    font-size: 70%;
    text-align: center;
}